.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.Specialist-Section,
.User-Section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

h2 {
  color: #007bff;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
